.App {
  text-align: center;
  
  height: 100%;
}

body {
background-color: #282c34;
color: #ffffff;
}

.container {
  display: flex;
}

.item {
  display:flex;
  margin: 50px;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}



