.App {
  text-align: center;
  
  height: 100%;
}

body {
  background-color: #131221;
  /*background-color: #282c34;*/
color: #ffffff;
font-family: 'Roboto-Black';
}

.container {
  display: flex;
}

.item {
  display:flex;
  margin: 50px;
}

.container-column {
  display: flex;
  flex-direction: column;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

.header-img {
  width: 100%;
}

.header-text {
 
}

.Header {
  text-align: center;
  color: white;
}

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-Light'), url('../src/Fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Black';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-Black'), url('../src/Fonts/Roboto-Black.ttf') format('truetype');
}

p {
  display: block;
}

.header-subline {
  font-family: 'Roboto-Light';
  font-size: 300%;
  margin: 0px;
}

.header-headline {
  font-family: 'Roboto-Black';
  font-size: 500%;
  margin-bottom: 0px;
}


